/* Импорт кастомных стилей для компонентов */
@import './css/blocks/title.scss';
@import './css/blocks/mixin.scss';
@import './css/blocks/menu.scss';
@import './css/blocks/button-menu.scss';
@import './css/blocks/modal.scss';
@import './css/blocks/popup.scss';
@import './css/blocks/tabs';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--gold) var(--light-gray);
    font-family: 'Involve';
    overflow-x: hidden;
    margin-top: 0px !important;
  }

  body {
    font-family: 'Roboto', sans-serif;
    color: #262626;
    font-weight: 400;
  }
}

@layer components {
  .container {
    @apply max-w-[1480px]
  }
}

:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Переменные */
  --white: #ffffff;
  --default-black: #262626;
  --gold: #E4C47E;
  --light-gray: #f1f1f1;
  --dark-gray: #8F8F8F;
}

/* Прочие классы */
.lock {
  overflow: hidden;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  padding: 20px 0px 40px 0;
}

header > div:first-child {
  position: relative;
}

header > div:first-child::before {
  content: '';
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 1px;
  background-color: var(--light-gray); 
  z-index: -1;
}


body {
  transition: all 0.5s ease-in-out;
}

body.masked {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 1001;
}


.nav-links ul li ul.sub-menu {
  position: absolute;
  opacity: 0;
  display: block;
  visibility: hidden;
  background-color: var(--white);
  margin-top: 10px;
  padding-left: 15px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  transition: all 0.1s ease-in-out;
  z-index: 100;

}

.nav-links ul li {
  transition: all 0.1s ease-in-out;
}

// .nav-links ul li.first_item:hover {
//   color: var(--gold);
// }

.nav-links ul li.first_item:hover ul.sub-menu {
  opacity: 1;
  visibility: visible;
}

// .nav-links ul li.first_item ul.sub-menu li {
//   transition: all 0.7s ease-in-out;
// }



// main_banner

#main_banner {
  padding-bottom: 90px;
}

.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  color: var(--light-gray);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--white);
}


.mask {
  background-color: rgba(0, 0, 0, 0.40);
  transition: opacity .1s ease;
  position: fixed;
  right: -2000px;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 100vh;
  transition: all 1s ease-in-out;
  z-index: 100;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}


.mask.is-active {
  right: 0;
}


#popular {
  padding-bottom: 110px;
}

#recipes {
  padding: 110px 0;
}

#promotion {
  padding: 90px 0 110px 0;
  background-image: url('/imgs/popular-banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto;
}

#category-1 {
  padding: 90px 0;
  background-color: var(--light-gray);

}

 #category-2, #category-3, #category-4{
  padding: 0 0 90px 0;
  background-color: var(--light-gray);
}

#about  {
  padding-bottom: 70px;
}

#order {
  padding-bottom: 110px;
}

#shops {
  padding-bottom: 110px;
}

.lock {
  overflow: hidden;
}

.lock-padding {
    padding: 0 !important;
}


.header-fix {
  background: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 3px 6px rgba(235, 235, 235, 0.16), 0 3px 6px rgba(0, 0, 0, .23) !important;
  padding-bottom: 10px;
}

header .able {
  opacity: 1;
  transition: all 0.5s ease-in-out;

}

header .able.disabled {
  opacity: 0;
  display: none;

}


.table {
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid #dddddd;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 20px;
	// background: #efefef;
	border-bottom: 1px solid #dddddd;
  text-align: start;
}
.table td {
	border-bottom: 1px solid #dddddd;
	padding: 20px;
}



.hover__img {
  transition: all 0.4s ease-in-out;
}

.hover__img:hover {
  transform: scale(1.1);
}


.hover__img--wrapper {
  overflow: hidden;
}


.line__down {
  position: relative;
}

.line__down::before {
  content: '';
  position: absolute;
  width: -webkit-fill-available;
  height: 1px;
  background-color: var(--light-gray);
  bottom: -20px;
}