.tab_btn {
    background-color: var(--light-gray);
    padding: 20px;
    text-align: center;
    color: var(--default-black);
    transition: all 0.5s ease-in-out;
    width: 160px;
    font-size: 18px;
}

.tab_btn.active {
    background-color: var(--default-black);
    color: var(--white);
    padding: 20px;
    text-align: center;
}

 .tab-content {
    padding-top: 40px;
    width: 100%;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all .6s ease-in-out;
 }
 
.tab-content.active {
    display: block;
    opacity: 1;
    visibility: visible;
 }